<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page not found</title>
</head>
<body>
    <h1>Uh-Oh...</h1>
    <h2>The page you are looking for doesn't exist</h2>
    <img src="/images/johncena.jpg" alt="You can't see me!" style="width: 300px; height: auto;">
</body>
</html>
